.body {
  margin: 0 10vw;

  .relatedDeals {
    display: flex;
    gap: 30px;
    overflow: scroll;
  }

  .relatedDeals::-webkit-scrollbar {
    display: none;
  }

  .signup {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p{
        font-size: 2rem;
    }
    #signUpBtn {
      background-color: blue;
      border: none;
      border-radius: 0px 10px 10px 0px;
      padding: 10px ;
      color: #fff;
      cursor: pointer;
    }
  }
}
